body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
  font-family: monospace;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
